<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WeatherApp</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="https://kit.fontawesome.com/1946f486ca.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="wrapper">
        <nav class="nav">
            <div class="nav__box">
                <div class="nav__items">
                    <a href="index.html" class="nav__item">STRONA GŁÓWNA</a>
                    <a href="register.html" class="nav__item">REJESTRACJA</a>
                    <a href="login.html" class="nav__item">LOGOWANIE</a>
                </div>
            </div>

        </nav>

        <div class="weather-app">
            <div class="top">
                <h1>Rejestracja</h1>
                 <form method="POST" action="#">
                    <div class="register-box">
                        <p class="username-title">Nazwa użytkownika</p>
                        <input type="text" name="username" placeholder="Wpisz nazwę użytkownika" class="username">
                        <p class="password-title">Hasło</p>
                        <input type="password" name="password1" placeholder="Wpisz swoje hasło" class="password password1">
                        <input type="password" name="password2" placeholder="Powtórz swoje hasło" class="password password2">
                        <button type="submit" class="register-button">Zarejestruj się</button>
                    </div>
                </form>
            </div>

            </div>
        </div>
        <footer class="footer">
            <p class="footer__bottom-text">&copy;</span> Mikołaj Bańkowski 2024</p>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/axios@1.6.7/dist/axios.min.js"></script>
        <script src="/static/js/register.js"></script>

</html>